<div class="container">

  <h1>Vos favoris</h1>
  <div class="users">
    <h2>Utilisateurs</h2>
    <form>
      <mat-form-field>
        <input type="text" placeholder="Chercher un twittos" name="userSearch" [(ngModel)]="proxyValue"
          (ngModelChange)="onChange()" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngFor="let option of options" [value]="option">
            <img [src]="option.profile_image" [alt]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <mat-divider>
  </mat-divider>
  <div class="tweets">
    <h2>Tweets</h2>
  </div>
  <mat-divider>
    </mat-divider>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Utilisateurs
      </mat-panel-title>
      <mat-panel-description>
        Liste des utilisateurs en favoris
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-user-fav *ngFor="let fav of favoritesUsers" [user]="fav"></app-user-fav>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tweets
        </mat-panel-title>
        <mat-panel-description>
          Liste des tweets en favoris
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-twitter-card *ngFor='let tweet of favoritesTweets' (clickEvent)="test()" fav [tweet]="tweet"></app-twitter-card>
    </mat-expansion-panel>
  
</div>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
