.form {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.form > * {
  margin: 0 10px;
}

.error:not(:empty) {
  animation: shake .5s ease-out;
  color: #D41;
}

@keyframes shake {
  25% {
    transform: translateX(7px)
  }
  75% {
    transform: translateX(-2px)
  }
}